{% extends 'layout.html.twig' %}
{% block title %}
{% endblock %}
{% block body %}
    <div class="container">
        <h1>Adds a user</h1>
        <div class="row">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}